name: "Run Renovate"

on:
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Run Renovate
        uses: renovatebot/github-action@v46.0.2
        with:
          # uses GITHUB_TOKEN by default
          token: ${{ secrets.GITHUB_TOKEN }}